<div class="container">
  <div class="alert alert--notice">
    <h1>Welcome to SlackDJ</h1>
    <p>Currently there are no videos to play.</p>
    <p>To add a video type in Slack <em>/dj find michael jackson thriller</em></p>
    <p>Then reload this page to start playing.</p>
    <p>For more options type <em>/dj help</em></p>
  </div>

  <div class="player-wrapper">
    <div class="video-background">
      <div class="video-foreground">
        <div id="player"></div>
      </div>
    </div>
    <div class="video-info">
      <ul id="current_video">
      </ul>
      <ul id="pending_videos">
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript">
player = {
  play: function(video){
    if (_.isNil(this._player)) {
      this._player = this.initializePlayer(video.youtube_id);
    } else {
      this._player.loadVideoById({videoId: video.youtube_id});
    }
    if( video ) {
      list = $("#current_video");
      list.empty();
      list.append('<li>' + video.title + '</li>')
    }
  },

  stop: function(){
    this._player.stopVideo();
  },

  pending: function( videos ) {
    window.App.player.pending( videos );
  },

  current: function( video ) {
    window.App.player.current( video );
  },

  initializePlayer: function(videoId){
    return new YT.Player('player', {
      height: '390',
      width: '640',
      videoId: videoId,
      playerVars: {
        controls: '<%= Rails.env.development? ? 1 : 0 %>'
      },
      events: {
        'onReady': this.onPlayerReady,
        'onStateChange': this.onPlayerStateChange
      }
    });
  },

  onPlayerReady: function(event) {
    event.target.playVideo();
  },

  onPlayerStateChange: function(event) {
    if (event.data == YT.PlayerState.ENDED) {
      // TODO emit event and have channel listen for it?
      window.App.player.next(player._player.getVideoData().video_id);
    }
  }
};


var tag = document.createElement('script');

tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

var video, pendingVideos;
<% if @dj.playing? %>
video = <%= raw @dj.current_video.to_json %>;
<% end %>
pendingVideos = <%= raw @dj.pending_videos.to_json %>;

function onYouTubeIframeAPIReady() {
  if (!_.isNil(video.youtube_id)){
    console.log("frame ready", video.youtube_id);
    player.play(video);
    player.pending(pendingVideos);
  }
}
</script>
