<div class="container">

  <div class="player-wrapper">
    <div class="video-background">
      <div class="video-foreground">
        <div id="player"></div>
      </div>
    </div>
    <div id="video-info">
      <p class="title">
      </p>
    </div>
    <div id="pending-info">
      <p class="title">
      </p>
    </div>
  </div>
</div>

<script type="text/javascript">

var songBar = new SongBar('#video-info');
var nextBar = new SongBar('#pending-info');
var checkInterval;

player = {
  play: function(video){
    var self = this;
    if (_.isNil(self._player)) {
      self._player = self.initializePlayer(video.youtube_id);
    } else {
      self._player.loadVideoById({videoId: video.youtube_id});
    }
    if( video ) {
      songBar.render( video.title );
    }
  },

  stop: function(){
    if( !_.isNil(this._player) ) {
      this._player.stopVideo();
    }
  },

  initializePlayer: function(videoId){
    return new YT.Player('player', {
      height: '390',
      width: '640',
      videoId: videoId,
      playerVars: {
        controls: '<%= Rails.env.development? ? 1 : 0 %>'
      },
      events: {
        'onReady': this.onPlayerReady,
        'onStateChange': this.onPlayerStateChange
      }
    });
  },

  onPlayerReady: function(event) {
    var player = event.target;
    player.playVideo();
  },

  onPlayerStateChange: function(event) {
    if (event.data == YT.PlayerState.ENDED) {
      // TODO emit event and have channel listen for it?
      window.App.player.next(player._player.getVideoData().video_id);
    } else if(event.data == YT.PlayerState.PLAYING) {
      clearInterval( checkInterval );
      var total = player._player.getDuration();
      var limit = total * 0.5;
      checkInterval = setInterval( function() {
        var current = player._player.getCurrentTime();
        if( current >= limit ) {
          clearInterval( checkInterval );
          window.App.player.whats_next();
        }
      }, 1000);
    }
  },

  renderNextPending: function( video ) {
    nextBar.render( ["<strong>Next</strong>", video.title].join(" ") );
  }

};

var tag = document.createElement('script');

tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

var video;
<% if @dj.playing? %>
video = <%= raw @dj.current_video.to_json %>;
<% end %>

function onYouTubeIframeAPIReady() {
  if (!_.isNil(video) && !_.isNil(video.youtube_id)){
    console.log("frame ready", video.youtube_id);
    player.play(video);
  } else {
    songBar.render("No videos in playlist :(", true);
  }
}
</script>
