// Place all the styles related to the player controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* { box-sizing: border-box; }

html, body {
	height: 100%;
	overflow: hidden;
}

.container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.player-wrapper {
	margin: auto;
}

.video-background {
	background: #000;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	//z-index: -99;
}

.video-foreground,
.video-background iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	//pointer-events: none;
}

.video-info {
	position: absolute;
	font-family: sans-serif;
	bottom: 25px;
	right: 0;
	margin: 0px 25px;

	ul {
		padding: 12px 18px;
		list-style: none;
		li {
			padding: 2px 0;
		}
	}

	ul#pending_videos {
		display: none;
		background-color: #C5CAD6;
		border: 5px solid #929CB2;
		color: #2E3F65;
	}

	ul#current_video {
		background-color: #FFACAA;
		border: 5px solid #D46D6A;
		color: #550200;
		li {
			font-weight: bold;
		}
	}
}

.alert {
	border: 1px solid #CDD5D6;
	margin: auto;
	background: #D4F0F3;
	width: 640px;
	border-radius: 3px;
	text-align: center;

	p {
		opacity: 0.6;
	}

	ul {
		list-style: none;
	}
}
